.terrifcard{
    width: 360px;
    height: 534px;
    border: 1px solid grey;
   

}
.cardimg{
    background-image: url('../Images/Dark.png');
    background-repeat: no-repeat;
    height: 230px;
    width: 360px;
    padding: 10px;
    object-fit: cover;
}
.cardtxt{
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.5833333134651184px;
    text-align: left;
    color: #FFFFFF;


}
.cardprice{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1.5px;
    text-align: left;
    color: #FFFFFF;
}
