.structurehero{
    background-image: url('../Images/Structure.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-color: #cccccc; /* Used if the image is unavailable */
    
    background-position: center; /* Center the image */ /* Do not repeat the image */
    background-size: cover;
}